
<a href="/blog/{{id}}" class="blog-card-link">
  <div class="card-details">
    <div class="card-header">
      <h2 class="post-title">{{title}}</h2>
      <p class="post-info">Posted by <b>{{user.username}}</b> on {{formatDate posted_date "ddd MMM DD YYYY"}}</p>
    </div>
    <div class="card-body">
      <p class="post-content">{{content}}</p>
    </div>
  </div>
</a>