
<a href="/blog/{{id}}" class="blog-card-link">
  <div class="blog-card">
    <div class="card-header">
      <h2 class="post-title">{{title}}</h2>
      <p class="post-info">Posted by User {{user_id}} on {{posted_date}}</p>
    </div>
    <div class="card-body">
      <p class="post-content">{{content}}</p>
    </div>
  </div>
</a>